@using SimchaFundManager
@using _3_25_simcha_fund.Models
@model IndexViewModel

<div class="container">
    <h1 class="col-lg-offset-5">Simchos</h1>
    <div class="row col-lg-offset-1">
        <button class="btn btn-warning" id="add-simcha" data-toggle="modal" data-target="#add-simcha-modal">Add Simcha</button>
        <br />
        <br />
    </div>
    <div class="container">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Contributions</th>
                <th>Simcha Name</th>
                <th>Contributor Count</th>
                <th>Total</th>
                <th>Date</th>
            </tr>
            @foreach (Simcha s in Model.Simchos)
            {
                <tr>
                    <td>
                        <a href="/home/contributions?id=@s.Id" class="btn btn-primary">Contributions</a>
                    </td>
                    <td>@s.SimchaName</td>
                    <td>@Model.NumContributors[s.Id] / @Model.MaxContributors</td>
                    <td>@Model.Totals[s.Id].ToString("C")</td>
                    <td>@s.Date</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="add-simcha-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a Simcha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/home/AddSimcha">
                <div class="modal-body">
                    <p>
                        <input type="text" name="SimchaName" placeholder="Simcha Name" />
                        <input type="date" name="Date" placeholder="Date" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button  class="btn btn-primary">Save</button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal" formaction="/home/index">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>